{% extends 'base.html' %}
{% block topright %}
{% endblock %}

{% block style %}
<style>
    div#password-change-submitted { margin-top: 2em }
</style>
{% endblock %}

{% block content %}
<div id="password-change-submitted">
<h3>You have sucessfully requested a password reset for your account.</h3>

<p>You will receive an email with the details on how to proceed.</p>

<h3>Still haven't received the email?</h3>

  <p>Did you look in your spam folder?</p>
  <p>Did you use an email address which is in the system?</p>

<p>If everything else fails, you can always <a href="mailto:{{support_email}}">email us</a>.</p>

<p class="hmpg-link"><a href="/">Back to the homepage</a>.</p>
</div>
{% endblock content %}
