{% extends 'base.html' %}
{% block topright %}
{% endblock %}
{% block style %} 
<style>
    p.wide { width: 30em; }
    p.aligned { text-align: right }
    p.aligned input { width: 12em }
    ul.errorlist { font-size: 1.2em }
</style>
{% endblock %}

{% block script %} 
<script type="text/javascript">
    $(document).ready(function () {
        $('#cancel').click(function() {
            document.location = '/';
        });
    });
</script>
{% endblock %}


{% block content %}
<div id="change-password-form">
<h2>Change password</h2>

<form action="" method="post">{% csrf_token %}

{% if form.old_password %}
{{ form.old_password.errors }}
<p class="aligned wide">{{form.old_password.label_tag}}: {{form.old_password}}</p>
{% endif %}

<p class"errors"> {{ form.new_password1.errors }}</p>
<p class="aligned wide">{{form.new_password1.label_tag}}: {{form.new_password1}}</p>
<p class"errors"> {{ form.new_password2.errors }}</p>
<p class="aligned wide">{{form.new_password2.label_tag}}: {{form.new_password2}}</p>

<p style="width:30em; text-align: right"><input type="submit" value="Change password" />
<input id="cancel" type="button" value="Cancel" /></p>
</form>
</div>
{% endblock content %}
