{% extends 'base.html' %}
{% load markup %}
{% block content %}
{% if user.is_authenticated and perms.website.administration %}
  <p><a class="pageedit" href="{% url admin:filling_page_change page.id %}">Edit page</a></p>
{% endif %}
<br>
{% if page.published or user.is_authenticated and perms.website.administration %}
  {% if not page.published %}
    <div class="pagedraft">
  {% endif %}
  {{ page.markdown_text }}
  {% if page.name == "home" %}
  <div id="advertisementrow">
    <div class="adbox" id="casestudy">
        <a href="/case-studies.html"><span></span></a>
      <h2><a href="/case-studies.html">Case Studies</a></h2>
    </div>
    <div class="adbox" id="vacancy">
        <a href="/vacancy.html"><span></span></a>
      <h2><a href="/vacancy.html">Vacancy</a></h2>
    </div>
    <div class="adbox" id="news">
      <a href="/posts"><span></span></a>
      <h2><a href="/posts">News</a></h2>
    </div>
  </div>
  {% endif %}
  {% if not page.published %}
    </div>
  {% endif %}
{% endif %}
{% endblock %}
