{% extends 'base.html' %}
{% block content %}
<br>
{% for object in latest %}
{% if object.published or user.is_authenticated and perms.website.administration %}
  {% if not object.published %}
    <div class="pagedraft">
  {% endif %}
{% if user.is_authenticated and perms.website.administration %}
  <p><a class="pageedit" href="{% url admin:filling_post_change object.id %}">Edit post</a></p>
{% endif %}
  {% autoescape off %}
    <div class="figure figure-right" style="width:100px"> 
    <a href="{{ object.get_absolute_url }}"><img src="/{{ object.images.all.0.url }}" alt="{{ object.images.all.0.image.title }}" width="100px" ></a></div>
  <h2 class="squeeze-bottom"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2><p class="byline">{{ object.date_published|date:"F j, Y" }}</p>
  <div class="squeeze-bottom">{{ object.markdown_teaser }}</div>
  <p class=squeeze-top><a href="{{ object.get_absolute_url }}"> Read more </a></p>
  {% endautoescape %}
  {% if not object.published %}
    </div>
  {% endif %}
{% endif %}
{% endfor  %}
<br>
{% endblock %}
