{% extends 'base.html' %}
{% load disqus_tags %}
{% disqus_dev %}
{% block content %}
<br>
{% if object.published or user.is_authenticated and perms.website.administration %}
  {% if not object.published %}
    <div class="pagedraft">
  {% endif %}
{% if user.is_authenticated and perms.website.administration %}
  <p><a class="pageedit" href="{% url admin:filling_post_change object.id %}">Edit post</a></p>
{% endif %}
  {% autoescape off %}
  <h2>{{ object.title }}</h2>
  <p class="byline">{% if object.author %}<a href="{{ object.author.get_absolute_url }}">{{ object.author.firstname }} {{ object.author.lastname }}</a>, 
    {% endif %}{{ object.date_published|date:"F j, Y" }}</p>
  {{ object.markdown_text }}
  <div class="comments">
  {% endautoescape %}
  {% if debug %}{% set_disqus_developer 1 %}{% endif %}
  {% with "http://dragonfly.co.nz"|add:object.get_absolute_url as url %}
  {% set_disqus_url url %}
  {% endwith %}
  {% disqus_show_comments %}
  </div>
  {% if not object.published %}
    </div>
  {% endif %}
{% endif %}
<br>
{% endblock %}
